@model TestWebApplication.Models.ExportModel

<div>
    <form asp-action="Export">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <select asp-for="ExportType" asp-items="Html.GetEnumSelectList<ExportType>()"></select>
            <span asp-validation-for="ExportType" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Export" class="btn btn-default" />
        </div>
    </form>
</div>